.search-result {
    width: 360px;
}
.search-title {
    font-size: 1.2rem;
    line-height: 20px;
    font-weight: 600;
    color: var(--decription-color);
    padding: 5px 12px;
}
.search-more {
    padding: 12px 16px;
    font-size: 1.4rem;
    line-height: 22px;
    font-weight: 400;
    &:hover {
        cursor: pointer;
        background-color: var(--background-silver-color-hover);
    }
}
