@import 'normalize.css';
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
:root {
    --primary-color: rgb(254, 44, 85);
    --primary-color-hover: rgb(239, 42, 81);
    --outline-color-hover: rgba(254, 44, 85, 0.06);
    --default-color-hover: rgba(22, 24, 35, 0.03);
    --icon-color: rgb(32, 213, 236);
    --decription-color: rgba(22, 24, 35, 0.5);
    --background-silver-color: rgba(22, 24, 35, 0.03);
    --background-silver-color-hover: rgb(241, 240, 243);

    --border-btn-silver: rgba(22, 24, 35, 0.12);

    // Default Layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1.4rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
button,
input,
[tabindex] {
    outline: none;
    border: none;
    font-family: 'Montserrat';
}
a[href] {
    text-decoration: none;
}
