.wrapper {
    --height-header: 46px;
    --width-search-btn: 46px;

    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}
.inner {
    max-width: var(--default-layout-width);
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px 0 20px;
}
.logo {
    display: flex;
    align-items: center;
}

// actions not login
.actions {
    display: flex;
    align-items: center;
    .action-more {
        font-size: 2rem;
        padding: 0 8px;
        margin: 0 12px;
        cursor: pointer;
        background-color: transparent;
    }
}
.btn-upload + .login-account {
    margin-left: 16px;
}
// account login
.login-account {
    display: flex;
    align-items: center;
    .btn-account {
        width: 3.2rem;
        height: 3.2rem;
        background: transparent;
        position: relative;
        cursor: pointer;
        .custom-icon {
            margin-top: 3px;
        }
    }
    .btn-account + .btn-account {
        margin-left: 16px;
    }
    .btn-account + .avatar-login {
        margin-left: 24px;
    }

    .message-info::after {
        content: '' attr(num) '';
        position: absolute;
        left: 14px;
        top: -3px;
        width: 24px;
        height: 14px;
        background-color: var(--primary-color);
        border-radius: 7px;
        color: white;
        font-size: 1rem;
        line-height: 14px;
    }
}
